* {
    box-sizing: border-box;
    color: rgb(248, 248, 248)
  }

  body
  h1 {font-style: unset;}
  h1 {font-weight: bolder;}
  h1 {font-family: cursive;}
  h1 {color: rgb(148, 81, 5);}
  h2 {text-shadow: -3px 2px 1px rgba(22,255,37,0.75);}

    
  body {background: rgb(0,0,0);
    background: -moz-linear-gradient(-45deg, rgb(0,0,0) 0%, rgb(69,9,203) 50%, rgb(140,0,255) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(0,0,0) 0%, rgb(69,9,203) 50%, rgb(140,0,255) 100%);
    background: linear-gradient(135deg, rgb(0,0,0) 0%, rgb(69,9,203) 50%, rgb(140,0,255) 100%);
    }
    {
      min-height: 150px;
      text-align: center;
    }

  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  

  .row,
  .row > .column {
    padding: 8px;
  }
  

  .column {
    float: left;
    width: 25%;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .content {
    background-color:rgb(6, 1, 75);
    padding: 10px;
  }
    a:link {color:yellow}
    a:visited {color:#ffffff}
    a:hover {color:rgb(0, 4, 255)}
 